<table>
<thead>
    <tr>
      <th colspan="5" style="text-align:center">Πίνακας 1</th>
    </tr>
    <td colspan="5" style="text-align:center">
      Μαθήματα Προπτυχιακού Προγράμματος Σπουδών <u> με διδασκαλία </u> στην αγγλική γλώσσα και εξέταση φοιτητών είτε με γραπτή εξέταση είτε με απαλλακτική εργασία διατυπωμένη στην αγγλική γλώσσα
    </td>
    <tr>
      <tr>
      <th width="10%" style="text-align:center">  Α/Α </th>
      <th style="text-align:center">  Τίτλος Μαθήματος  </th>
      <th style="text-align:center">      Εξάμηνο       </th>
      <th style="text-align:center">      Κωδικός       </th>
      <th style="text-align:center">      Μονάδες<br>
                                          ECTS          </th>
    </tr>
    </tr>
</thead>
<tbody>
    {% assign counter = 0 %}
    {% for course in site.courses %}
    {% if course.Erasmus_courses_with_English_instruction == "yes" %}
    {% assign counter = counter | plus: 1 %}
    {% for course in site.courses %}
    {% if counter == course.AA %}
    {% if course.Erasmus_courses_with_English_instruction == "yes" %}
    <tr>
      <td style="text-align:center">
            {{ course.AA }} 
       </td>
      <td style="text-align:center">
            <a href="{{ course.url | absolute_url }}">{{ course.title }}</a> 
       </td>
      <td style="text-align:center">
            {{ course.semester }} 
       </td>
      <td style="text-align:center">
            {{ course.code }} 
       </td>
      <td style="text-align:center">
            {{ course.ects }}  
       </td>
    </tr>
    {% endif %}
    {% endif %}
    {% endfor %}
    {% endif %}
    {% endfor %}
  </tbody>
</table>

