<div style="text-align: right; height: 100px;">
  <p style="display: inline-block; vertical-align: top;">Kέρκυρα, 17/1/2023,
  Αρ. Πρωτ: ΠΛΗ/53</p>
</div>

<h1  style="line-height: 1.0;font-size: 25px;text-align:center;"> ΠΡΟΓΡΑΜΜΑ ΕΞΕΤΑΣΕΩΝ ΤΜΗΜΑΤΟΣ ΠΛΗΡΟΦΟΡΙΚΗΣ
ΕΞΕΤΑΣΤΙΚΗΣ ΠΕΡΙΟΔΟΥ ΙΑΝΟΥΑΡΙΟΥ - ΦΕΒΡΟΥΑΡΙΟΥ 2023
(23 ΙΑΝΟΥΑΡΙΟΥ έως 10 ΦΕΒΡΟΥΑΡΙΟΥ) </h1>

{% include SemA.html %}

{% include SemC.html %}


<div style="width: 150px;height:150px;margin: 50px 800px;">
  <a href="https://www.ethaae.gr/el/"><img src="https://di.ionio.gr/images/layout/ethaae_gr.png" alt="logo.png"/><a/>  
</div>

